<div class="card">
    <div class="card-header">
        <strong>Listado de Reservaciones</strong>
    </div>
    <div class="card-body">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Fecha Ingreso</th>
                        <th>Huesped</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Reservaciones">
                        <td>{{item.fechaEntrada | date:'medium'}}</td>
                        <td style="text-align: left;">{{item.huesped}}</td>
                        <td style="text-align: left;">{{item.telefono}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary" (click)="OpenPopup()">Añadir Nuevo</button>
    </div>
</div>
<hr>

<div class="popup" id="crearreservacionpopup">

    <div class="pop-content" style="width: 30%;">
        <div class="modal-header">
            <a style="color: white" href="javascript:void(0)" (click)="Close()">Close</a>
        </div>
        <div class="modal-body">
            <div style="overflow: auto; width: 100%">
                <div class="card">
                    <div class="card-header card-informacion wrapper">
                        <strong>Crear Reserva</strong>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="ReservacionForm">
                            <div class="container wrapper">
                                <label for="inputHuespedId" class="col-form-label col-form-label-title">Huesped:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="HuespedId"
                                        readonly="readonly">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"
                                            (click)="SelecionarHuespedPopup()"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <div *ngIf="Huesped">
                                    {{Huesped.identificacion + ' - ' + Huesped.nombre + ' ' + Huesped.apellido }}
                                </div>

                                <div>
                                    <label for="inputHabitacionId"
                                        class="col-form-label col-form-label-title">Habitacion:</label>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="HabitacionId"
                                        readonly="readonly">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"
                                            (click)="SelecionarHabitacionPopup()"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <div *ngIf="Habitacion">
                                    {{Habitacion.descripcion + ' [Piso: ' + Habitacion.piso +' ]' + ' [Habitación: #' + Habitacion.numero +' ]'}}
                                </div>

                                <div>
                                    <label for="inputFechaEntrada" class="col-form-label col-form-label-title">Fecha
                                        Ingreso:</label>
                                </div>
                                <div>
                                    <input #FechaEntrada type="datetime-local" class="form-control"
                                        id="inputFechaEntrada" formControlName="FechaEntrada" />
                                </div>

                                <div>
                                    <label for="inputFechaSalida" class="col-form-label col-form-label-title">Fecha
                                        Salida:</label>
                                </div>
                                <div>
                                    <input #FechaSalida type="datetime-local" class="form-control" id="inputFechaSalida"
                                        formControlName="FechaSalida" />
                                </div>

                                <div *ngIf="ErrorMessage !== ''" class="alert alert-danger">
                                    {{ErrorMessage}}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary" (click)="Guardar()">Guardar</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="popup" id="selecionarhuespedpopup">
    <div class="modal-header">
        <a style="color: white" href="javascript:void(0)" (click)="CloseSelectHuespedPopup()">Close</a>
    </div>
    <div class="modal-body">
        <div style="overflow: auto; width: 100%">
            <app-huesped (HuespedSeleccionado)="GetHuesped($event)" [ActiveSelect]="true"></app-huesped>
            <br />
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="popup" id="selecionarhabitacionpopup">
    <div class="modal-header">
        <a style="color: white" href="javascript:void(0)" (click)="CloseSelectHabitacionPopup()">Close</a>
    </div>
    <div class="modal-body">
        <div style="overflow: auto; width: 100%">
            <app-habitaciones (HabitacionSeleccionado)="GetHabitacion($event)" [ActiveSelect]="true"></app-habitaciones>
            <br />
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>